USE [EMS]
GO
/****** Object:  StoredProcedure [dbo].[EMS_SP_GET_ALL_EMPLOYEES]    Script Date: 02-10-2020 5.19.30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EMS_SP_GET_ALL_EMPLOYEES]
AS
BEGIN
	SELECT ID, NAME, CITY, DEPARTMENT, GENDER 
	FROM EMS_TBL_EMPLOYEES 
	WHERE ACTIVE_STATUS = 1
END