USE [EMS]
GO
/****** Object:  StoredProcedure [dbo].[EMS_SP_GET_PARTICULAR_EMPLOYEE]    Script Date: 02-10-2020 5.19.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EMS_SP_GET_PARTICULAR_EMPLOYEE](
	@EMPLOYEEID INT
)
AS
BEGIN
	IF EXISTS(SELECT TOP 1 * FROM EMS_TBL_EMPLOYEES WHERE ID = @EMPLOYEEID AND ACTIVE_STATUS = 1)
		BEGIN
			SELECT ID, [NAME], CITY, DEPARTMENT, GENDER 
			FROM EMS_TBL_EMPLOYEES 
			WHERE ID = @EMPLOYEEID AND ACTIVE_STATUS = 1
		END
END