USE [EMS]
GO
/****** Object:  StoredProcedure [dbo].[EMS_SP_SAVE_EMPLOYEE]    Script Date: 02-10-2020 5.20.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EMS_SP_SAVE_EMPLOYEE](
	@NAME VARCHAR(100),
	@CITY VARCHAR(100),
	@DEPARTMENT VARCHAR(100),
	@GENDER VARCHAR(100)
)
AS
BEGIN
	INSERT INTO EMS_TBL_EMPLOYEES VALUES(@NAME, @CITY, @DEPARTMENT, @GENDER, 1)
END