USE [EMS]
GO
/****** Object:  StoredProcedure [dbo].[EMS_SP_UPDATE_EMPLOYEE]    Script Date: 02-10-2020 5.20.40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[EMS_SP_UPDATE_EMPLOYEE](
	@EMPLOYEEID INT,
	@NAME VARCHAR(100),
	@CITY VARCHAR(100),
	@DEPARTMENT VARCHAR(100),
	@GENDER VARCHAR(100)
)
AS
BEGIN
	IF EXISTS (SELECT TOP 1 * FROM EMS_TBL_EMPLOYEES WHERE ID = @EMPLOYEEID AND ACTIVE_STATUS = 1)
		BEGIN
			UPDATE EMS_TBL_EMPLOYEES 
			SET [NAME] = @NAME, CITY = @CITY, DEPARTMENT = @DEPARTMENT, GENDER = @GENDER
			WHERE ID = @EMPLOYEEID 
		END
END